@page "/fetchstudents"

@using DataAccessLibrary.Data
@using DataAccessLibrary.Models
@using DataAccessLibrary

@inject IProfileRepository _db

<PageTitle>Student List</PageTitle>

<h1>Student List</h1>

<h2 class="instructions">Insert new user:</h2>

<EditForm Model="@newUser" OnValidSubmit="@InsertUser">
<div class="edit_row_container">
    <div>
        <label class="specifications"> Name*:</label>
        <div class="form-floating mb-1">
            <InputText name="Name" @bind-Value="newUser.Name" class="round_corners" />
        </div>
        <label class="specifications">Surname*:</label>
        <div class="form-floating mb-1">
            <InputText name="Surname" @bind-Value="newUser.Surname" class="round_corners" />
        </div>
    </div>
    <div>
        <label class="specifications" for="courseName"> Select course name: </label>
            <div class="form-floating mb-1">
            <InputSelect name="courseName" @bind-Value="courseName" class="round_corners">
                <option value="0">None</option>
                <option value="1">PSI</option>
                <option value="2">ISI</option>
                <option value="3">VDA</option>
                <option value="4">MMT</option>
                <option value="5">IT</option>
                <option value="6">FDM</option>
                <option value="7">DM</option>
            </InputSelect>
            </div>
        <label class="specifications" for="courseYear"> Select acaddemic year:</label>
        <div class="form-floating mb-1">
            <InputSelect name="courseYear" @bind-Value="courseYear" class="round_corners">
                <option value="0">None</option>
                <option value="1">I</option>
                <option value="2">II</option>
                <option value="3">III</option>
                <option value="4">IV</option>
            </InputSelect>
        </div>
    </div>
</div>

    <button type="submit" class="round_corners student_list">Submit</button>
</EditForm>
<div class="form-floating mb-3"> </div>
<h2 class="instructions">Filter users:</h2>

<EditForm Model="@Users" OnValidSubmit="@FilterList">
<div class="edit_row_container">
    <div>
        <label class="specifications" for="nameFilter">Filter by name:</label>
        <div class="form-floating mb-1">
                <InputText name="nameFilter" @bind-Value="nameFilter" class="round_corners" />
        </div>

        <label class="specifications" for="surnameFilter">Filter by surname:</label>
        <div class="form-floating mb-1">
                <InputText name="surnameFilter" @bind-Value="surnameFilter" class="round_corners" />
        </div>
    </div>

    <div>
        <label class="specifications" for="courseName"> Select course name: </label>
            <div class="form-floating mb-1">
                <InputSelect name="courseName" @bind-Value="courseFilter" class="round_corners">
                    <option value="0">None</option>
                    <option value="1">PSI</option>
                    <option value="2">ISI</option>
                    <option value="3">VDA</option>
                    <option value="4">MMT</option>
                    <option value="5">IT</option>
                    <option value="6">FDM</option>
                    <option value="7">DM</option>
                </InputSelect>
            </div>

        <label class="specifications" for="courseYear"> Select acaddemic year:</label>
            <div class="form-floating mb-1">
                <InputSelect name="courseYear" @bind-Value="yearFilter" class="round_corners">
                    <option value="0">None</option>
                    <option value="1">I</option>
                    <option value="2">II</option>
                    <option value="3">III</option>
                    <option value="4">IV</option>
                </InputSelect>
            </div>
    </div>
</div>

    <button type="submit" class="round_corners student_list">Filter</button>
    <button type="button" class="round_corners student_list_red" onclick="@RefetchData">Clear filters</button>
</EditForm>


@if (Users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Course</th>
                <th>Academic year</th>
                <th>Topics to teach</th>
                <th>Topics to learn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in UsersDisplay)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.CourseInfo.GetName()</td>
                    <td>@user.CourseInfo.GetYear()</td>
                    <td>
                        <ul>
                            @foreach(var topic in user.TopicsToLearn)
                            {
                                <li>@topic.Title</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var topic in user.TopicsToTeach)
                            {
                                <li>@topic.Title</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ProfileEntity> Users = new List<ProfileEntity>();
    private List<ProfileEntity> UsersDisplay = new List<ProfileEntity>();
    private ProfileEntity newUser = new ProfileEntity();
    private string message;

    private int courseName;
    private int courseYear;

    protected override async Task OnInitializedAsync()
    {
        Users = await _db.LoadData();
        UsersDisplay = Users;
    }

    private async Task InsertUser()
    {
        if(string.IsNullOrEmpty(newUser.Name) || string.IsNullOrEmpty(newUser.Surname))
        {
            message = "Error! Both fields must be filled.";
        }
        else
        {
            ProfileEntity user = new ProfileEntity
                {
                    Name = newUser.Name,
                    Surname = newUser.Surname,
                    CourseInfo = new CourseData(courseName, courseYear),
                    CreationDate = new profileCreationDate()
                };

            await _db.Insert(user);
            await _db.SaveChanges();
            await RefetchData();

            newUser = new ProfileEntity();

            message = "User added successfully!";
        }
    }

    private string? nameFilter;
    private string? surnameFilter;
    private int courseFilter;
    private int yearFilter;

    private async Task FilterList()
    {
        UsersDisplay = await _db.GetProfilesByFilterAsync(nameFilter, surnameFilter, courseFilter, yearFilter);
    }

    private async Task RefetchData()
    {
        Users = await _db.LoadData();
        UsersDisplay = Users;
    }
}